h1.A{
    text-align: center;
}

h3.name{
    text-align: center;
}
    
h3.email{
    text-align: center;
}

h3.password{
    text-align: center;
}
button.btn{
    margin-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    background-color: rgb(142, 208, 230);
}
button.btn:hover{
    background-color: rgb(76, 255, 73);
}
div.box1{
    border: 2px solid black;
    width: 300px;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
}
