body{
    background-color: rgb(199, 199, 199);
    display: flex;
}

div.box1{
    height: 45%;
    width:30%;
    border : 2px solid black;
    border-radius: 15px;
    margin: 10px;
    padding: 20px;
    background-color: rgb(255, 255, 255);
}
div.box2{
    height: 45%;
    width:30%;
    border : 2px solid rgb(255, 255, 255);
    border-radius: 15px;
    margin: 10px;
    padding: 20px;
    background-color: rgb(255, 255, 255);
}

h1.A{
    font-family: 'Times New Roman', Times, serif;
    font-size: 35px;


}

p.B{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;

}

.btn{
    background-color: blue;
    font-family: Arial, Helvetica, sans-serif;
    color:white;
    font-size: 15px;
    
    padding-top: 4%;
    padding-bottom: 4% ;
    padding-left: 10%;
    padding-right: 10%;
    border-radius: 10px;
}