body{
    background-color: yellow;
    }

h2{ color: red;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-weight: bold;
    text-decoration: underline;
    text-align: center;
    font-size: 50px;
    }


h1{ color: rgb(0, 0, 168);
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    }


p{  color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    text-align: center;
    text-decoration: line-through;
    }


h3{ color: black;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: underline;
    text-align:right;
    font-style: italic;
    font-size: 25px;
    font-weight: lighter;
    }