div.box1{
    width: 300px;
    height: 440px;
    border: 2px solid black;
    background-color: rgb(244, 244, 244);
    margin: 20px;
    padding: 10px;
    border-radius: 10px;
}

form{
    text-align: center;
}

button.btn{
    text-align: center;
    background-color: #9aa9ff;
    height: 10%;
    width: 50%;
    border-radius: 10px;
    font-size: 16px;
    margin-top: 10px;
    
}

button.btn:hover{
    background-color: #9aa9ff;
    border-radius: 10px;
    font-weight: bold;
}

button.btn:active{
    background-color: rgb(87, 244, 98);
}
