body{background-color: green;}
h1.A{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 40px;
    text-align: center;
    color: rgb(1, 1, 68);

}


h1.B{
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: underline;
    font-weight: lighter;
    color: rgb(255, 0, 0);
    text-align: center;
    font-size: 30px;
}

p.C{
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: lighter;
    text-align: right;
    font-size: 24px;
}
